@using Infrastructuur.Models;
@using Infrastructuur.Pdfs;
<h2 class="tag" @onclick="@DisplayTable">@GetHtmlNode()</h2>
<table class="table @TableContent">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @if (Pdf.File.Content.Any(x => x.Key == item.Key) ||
                    Pdf.File.Hrefs.Any(x => x.Key == item.Key) || 
                    Pdf.File.Images.Any(x => x.Key == item.Key))
                {
                    <td class="selected-key">@item.Key</td>
                    <td class="selected-value">@item.Value</td>
                    <td @onclick="() => RemoveAsync(item)"><button class="btn btn-primary w-100">Remove</button></td>
                }
                else
                {
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td @onclick="() => AddItemAsync(item)"><button class="btn btn-primary w-100">Add</button></td>
                }
            </tr>
        }
    </tbody>
</table>
@code {
  
}
